<div style="width: 100%;">
  <div class="col-md-12 col-xs-12">

    <p *ngIf="message" class="alert alert-success">{{message}}</p>
    <div class="w-100">
      <div>
        <button class="btn btn-primary" (click)="notifyMe()">Show notification</button>
        <br>
        <h4 class="display-5"> Background Sync Example {{downloadProgress}}</h4>
      </div>
    </div>
    <div class="file-download">
      <button class="btn btn-primary" (click)="downloadFile()">Download</button>
      <span class="material-symbols-outlined">
        description
      </span>
    </div>
    <div class="progress blue" *ngIf="startDownload">
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
      <div class="progress-value">{{downloadProgress || 0}}</div>
    </div>
  </div>
  <hr>
</div>
