<div>
<div>
  Testing data here !

  <button class="btn btn-primary" (click)="notifyMe()">Show notification</button>
   <br>
  <button class="btn btn-primary" (click)="getData()">Get Data</button>
  <button class="btn btn-primary my-2"  id="bgBtn" >Download</button>
</div>
  <hr>

  <h4> Background Fetch Example</h4>
  <div class="file-download">
      <button class="btn btn-primary" id="bgFetchButton" (click)="downloadFile()">Download</button>
      <span class="material-symbols-outlined">
        description
        </span>
  </div>
</div>
