a{
  color: #fff;
}
a:hover{
  font-size: 22px;
  color:#fff
}
.side-bar{
  height: 100%;
  width: 300px;
  overflow-y: hidden;
}

.side-bar{
 width: 300px;
}

@media screen and (min-width: 430px) and (max-width: 480px) {
  .side-bar{
    width: 150px;
   }
}
@media screen and (min-width: 300px) and (max-width: 390px) {
  .side-bar{
    width: 50px;
   }
}
@media screen and (min-width: 391px) and (max-width: 429px) {
  .side-bar{
    width: 80px;
   }
}
