<div class="container-fluid" style="position: relative;display: flex;gap: 1rem;">
      <div class="row flex-nowrap side-bar bg-dark">
        <div class="col-auto col-md-6 col-xl-2 px-sm-2 bg-dark w-100">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                    <a [routerLink]="['/dashboard']" class="nav-link align-middle px-0">
                      <i class="material-symbols-outlined">
                        house
                        </i>
                      <span class="ms-1 d-none d-sm-inline">
                            &nbsp;
                          Home
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/chat']" class="nav-link px-0 align-middle">
                      <i class="material-symbols-outlined">
                        chat
                        </i>
                        <span class="ms-1 d-none d-sm-inline">
                          Home &nbsp;
                        </span>
                      </a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/dashboard/test']" class="nav-link px-0 align-middle">
                        <i class="material-symbols-outlined">
                          info
                         </i>
                        <span class="ms-1 d-none d-sm-inline">
                          Test
                        </span>
                      </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/dashboard/users']" class="nav-link px-0 align-middle">
                      <i class="material-symbols-outlined">
                        people
                       </i>
                      <span class="ms-1 d-none d-sm-inline">
                        Users
                      </span>
                  </a>
              </li>
                <li class="nav-item">
                  <a (click)="logout()"class="nav-link align-middle px-0">
                    <i class="material-symbols-outlined">
                      logout
                      </i>
                    <span class="ms-1 d-none d-sm-inline">
                      &nbsp;
                      Logout</span>
                  </a>
                </li>
            </ul>
        </div>
        </div>
      </div>
      <router-outlet></router-outlet>
  </div>
